extends layout

block content
  aside.right-side
    section.content
      h1
        | #{message}
        small Custom
      // start:content
      .row
        .col-md-4
          .box
            h4 Add Command
            hr
            form(role='form' method='post', action='').form-inline.add-command
              .form-group
                label.sr-only(for='name') Command name
                input#name.form-control(name='commandname', type='text', placeholder='Command name')
              .form-group
                label.sr-only(for='text') Command text
                input#text.form-control(name='commandtext', type='text', placeholder='Command text')
              input.btn.btn-primary(type='submit', value='Add')                
        .col-md-4
          .box
            h4 Edit Command
            hr
            form(role='form' method='post', action='').form-inline.edit-command
              .form-group
                label.sr-only(for='name') Command name
                select#editname.form-control(name='commandname', type='text', placeholder='Command name' style='min-width: 200px; max-width: 200px;')
                  for c in cmds
                    option #{c.name}
              .form-group
                label.sr-only(for='text') Command text
                input#edittext.form-control(name='commandtext', type='text', placeholder='Command text')
              input.btn.btn-primary(type='submit', value='Edit')          
        .col-md-4
          .box
            h4 Delete Command
            hr
            form(role='form' method='post', action='').form-inline.del-command
              .form-group
                label.sr-only(for='name') Command name
                select#delname.form-control(name='commandname', type='text', placeholder='Command name' style='min-width: 400px; max-width: 400px;')
                  for c in cmds
                    if(c.category == 'custom')
                      option #{c.name}
              input.btn.btn-danger(type='submit', value='Delete')         
      .row
        .col-md-8
          .box
            h4 Custom Commands List
            hr
            table.table.table-striped.table-advance.table-hover#escalation
              thead
                tr
                  th
                    |  Name
                  th.hidden-phone
                    |  Description
                  th
              tbody#commands
                for c in cmds
                  if(c.category == "custom")
                    tr(name= c.name)
                      td #{c.name}
                      td.hidden-phone #{c.value}
                      td
                        button.btn.btn-danger.btn-xs(data-original-title='', title='')
                          i.fa.fa-trash-o(data-original-title='', title='')
        .col-md-4
          .box
            h4 Basic Commands List
            hr
            table.table.table-striped.table-advance.table-hover#escalation2
              thead
                tr
                  th
                    |  Name
                  th
              tbody#defaultcommands
                  tr(name= "!commands")
                    td !commands
                    td
                      button.btn.btn-danger.btn-xs(data-original-title='', title='')
                        i.fa.fa-toggle-on(data-original-title='', title='')
                  tr(name= "!followage")
                    td !followage
                    td
                      button.btn.btn-danger.btn-xs(data-original-title='', title='')
                        i.fa.fa-toggle-on(data-original-title='', title='')                          
                  tr(name= "!subcount")
                    td !subcount
                    td
                      button.btn.btn-danger.btn-xs(data-original-title='', title='')
                        i.fa.fa-toggle-on(data-original-title='', title='')
                  tr(name= "!uptime")
                    td !uptime
                    td
                      button.btn.btn-danger.btn-xs(data-original-title='', title='')
                        i.fa.fa-toggle-on(data-original-title='', title='')      
